body {
    background-color: #121212;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    color: white;
    font-size: 40px;
    padding: 20px 0px;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

.turn {
    color: yellow;
    font-size: 20px;
    padding: 20px 0px;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

.board {
    display: grid;
    height: 400px;
    width: 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* border: 2px solid #121212; */
    gap: 1px;
    padding: 0px;
    background-color: white;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 2px solid white;
    background-color: #121212;
    cursor: pointer;
    color: white;
}




/* CSS */
.restart,
.start {
    margin-top: 50px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Luckiest Guy", cursive;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.restart:hover,
.start:hover,
.start:active,
.restart:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.restart:active,
.start:active {
    opacity: .5;
}

.start {
    display: block;
    margin: 0 auto;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
}

dialog {
    border: none;
    border-radius: 20px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: yellow;
    font-family: "Luckiest Guy", cursive;
}

dialog p {
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
}

.playerMarker {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.P1,
.P2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


input {
    height: 35px;
    border: none;
    background-color: rgba(255, 255, 255, 0.25);
    outline: none;

    font-family: "Luckiest Guy", cursive;
    color: black;
    font-size: 20px;
    border-radius: 8px;
}

input:focus {
    outline: 2px solid black;
}


select {
    appearance: none;
    /* removes default browser arrow */
    -webkit-appearance: none;
    -moz-appearance: none;

    height: 40px;
    background-color: #1e1e1e;
    color: white;
    border: 2px solid #ff4081;
    border-radius: 8px;
    padding: 8px 32px 8px 12px;
    font-size: 16px;
    background-image: url("data:image/svg+xml,%3Csvg fill='white' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'%3E<path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 8px center;
}